@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.label{
    display: none;
}

a.btnPagination{
    background-color: white;
    border: 2px solid #8e44ad;
    color: #8e44ad;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-flex;
    margin-bottom: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 20px auto;
    line-height: 1.6;
}
 
h1 {
    text-align: center;
    color: #8A2BE2; 
    margin-bottom: 20px;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #D8BFD8; 
    border-radius: 8px;
    overflow: hidden;
}

td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #9370DB;
}

th {
    background-color: #8A2BE2;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #DDA0DD; 
}

tr:hover {
    background-color: #C3B1E1; 
}

a {
    color: #9370DB;
}


.pagination {
    text-align: center;
    margin-top: 20px;
    color: #FF69B4; 
    padding: 8px 12px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #9370DB;
    color: white;
    border-radius: 4px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #6A5ACD; 
    font-size: 0.9rem;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8A2BE2;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}


@media (max-width: 600px) { 
    table {
        border: none;
    }
    thead{
        display: none;
    }
    tr {
        display: block;
        margin-bottom: 15px;
        border-radius: 5px;
        padding: 10px;
    }

    td {
        display: grid;
        grid-template-columns: 150px auto;
        align-items: center;
        padding: 5px;
        gap: 10px;
        border:  none;
        margin-left: 10px;
    }

    .label{
        display: block;
        font-weight: bold;
        margin-bottom: 0;
    }

    .action {
        display: flex;
        gap: 10px;
    }
}