/* style.css */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E6E6FA; 
    color: #4B0082; 
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #8A2BE2; 
    margin-bottom: 20px;
    font-weight: 600;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* memberikan jarak antar card */
}

.game-card {
    border: 1px solid #8A2BE2;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px); /* memastikan card tidak terlalu lebar */
    box-sizing: border-box;
}

.game-card-content {
    padding: 15px; /* memberikan padding pada konten card */
}

ul {
    padding-left: 20px;
}

li {
    list-style-type: none;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #8A2BE2;
    margin-right: 10px;
    font-weight: 400;
    transition: color 0.3s ease;
}

a:hover {
    color: #9370DB;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #8A2BE2;
    color: #8A2BE2;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #8A2BE2;
    color: white;
}

.pagination strong {
    color: #FF69B4; 
    padding: 8px 12px;
}
